.brewery-container {
  display: grid;
  gap: 1rem;
  grid-template-columns:repeat(5, fr);
}

.brewery-display {
  grid-area: auto;
}

/* .brewery-display:nth-child(1) {
  grid-area: brewery-item-1;
}

.brewery-display:nth-child(2) {
  grid-area: brewery-item-2;
}

.brewery-display:nth-child(3) {
  grid-area: brewery-item-3;
}

.brewery-display:nth-child(4) {
  grid-area: brewery-item-4;
} */
